{
    "HOW_TO_GET_THIS": "Go to project settings > Service accounts > Generate new private key",
    "type": "service_account",
    "project_id": "XXXXX-app",
    "private_key_id": "97f86efdcc87da04c8a4f0523d96791ddeXXXXX",
    "private_key": "-----BEGIN PRIVATE KEY-----\nXXXXXXX\n-----END PRIVATE KEY-----\n",
    "client_email": "firebase-adminsdk@XXXXX-app.iam.gserviceaccount.com",
    "client_id": "1165821943095837XXXXX",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-1p6fd%40XXXXX-app.iam.gserviceaccount.com"
}
